---
layout: layouts/base
---

<div class="home-page">
  <div class="container">
    <div class="welcome">
      <div class="welcome-text">
        <h1>hi! i'm Gabriel Toschi</h1>
        <h2>welcome to my web place!</h2>

        <div class="social-icons">
          <div class="social-list">
            {% for social in socials %}
              <a target="_blank" href={{ social.link }}>{% svg social.icon %}</a>
            {% endfor %}
          </div>
          <span>those are the others, get in touch :)</span>
        </div>
      </div>

      {% render "components/image-card.liquid"
       , image: "https://placehold.co/600x250"
       , text: "More about me"
       , url: "about" %}
    </div>

    <div class="latest-blog">
      <div class="header">
        <h1>
          <a href="/blog">latest from the blog</a>
        </h1>
        <h3>fresh articles and reviews from me!
          <a href="/blog">click here to see all the posts</a>
        </h3>
      </div>

      {% assign home-posts = collections.blog | reverse | first_nth: 4 %}

      <div class="post-list">
        {% for post in home-posts %}
          <div class="card-wrapper {{ post.data.tags | join: " " }}">
            {% assign filteredTags = post.data.tags
             | remove_intersec: not-show-tags.blog
             | map_key_value: blog-tags %}

            {% render "components/full-card.liquid"
             , samePage: true
             , image: post.data.thumbnail
             , title: post.data.title
             , url: post.data.permalink
             , text: post.data.description
             , score: post.data.score
             , tags: filteredTags %}
          </div>
        {% endfor %}
      </div>
    </div>

    <div id="projects" class="projects">
      <div class="header">
        <h1>my projects</h1>
        <h3>curiosity to learn, creativity to make, chaos to have fun</h3>
      </div>

      <div class="filter">
        {% for tag in project-tags %}
          <button class="filter-button" id="{{ tag.key }}">
            {{ tag.value }}
          </button>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="project-list">
    <div class="list-content container">
      {% for project in collections.project reversed %}
        <div class="card-wrapper {{ project.data.tags | join: " " }}">
          {% assign filteredTags = project.data.tags
           | remove_intersec: not-show-tags.projects
           | map_key_value: project-tags %}

          {% render "components/full-card.liquid"
           , image: project.data.image
           , title: project.data.title
           , url: project.data.link
           , text: project.content
           , tags: filteredTags %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript" src="/scripts/project-filter.js"></script>