---
layout: 'layouts/base'
---

<div class="post">
  <div class="back-button container">
    <a href="/blog">&#60; back to the post list</a>
  </div>

  <div class="header">
    <div class="header-image" style="background-image: url({{ thumbnail }})">
      {% assign filteredTags = tags | remove_intersec: not-show-tags.blog %}
      {% assign mappedTags = filteredTags | map_key_value: blog-tags %}

      {% for tag in mappedTags %}
        <span>
          {{ tag }}
        </span>
      {% endfor %}

      {% if score %}
        <span class="score">
          {{ score }}<span class="max">/10</span>
        </span>
      {% endif %}
    </div>
    <div class="header-content">
      <div class="container">
        <h1>{{ title }}</h1>
        <h4>{{ subtitle }}</h4>
      </div>
    </div>
  </div>

  <div id="post-content" class="post-content container">
    {{ content }}
  </div>

  {% if score %}
    <div class="review-card container">
      <div class="main">
        <div class="cover" style="background-image: url({{ cover }})"></div>
        <div class="info">
          <div class="info-name-score">
            <div class="info-name">
              <h1>{{ title }}</h1>
              {% if played %}
                <span>{{ played }}</span>
              {% endif %}
            </div>

            <div class="info-score">
              {{ score }}<span class="max">/10</span>
            </div>
          </div>

          <div class="info-links">
            {% for link in links %}
              <a target="_blank" href="{{ link[1] }}">{{ link[0] }}</a>
            {% endfor %}
          </div>

          {% if song %}
            <div class="info-song">
              {% svg "icons/music" %}
              <div class="info-song-link">
                <span>my favorite song</span>
                <h3>
                  <a target="_blank" href="{{ song[1] }}">{{ song[0] }}</a>
                </h3>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  {% endif %}

  <div class="post-end-wrapper">
    <div class="post-end container">
      <div class="previous-post">
        {% assign previousPost = collections.blog | getPreviousCollectionItem %}

        {% if previousPost %}
          <span>previous post</span>
          <h2>
            <a href="{{ previousPost.data.permalink }}">{{ previousPost.data.title }}</a>
          </h2>
        {% else %}
          <span>want more?</span>
          <h2>
            <a href="/#projects">see my projects!</a>
          </h2>
        {% endif %}
      </div>

      <div class="next-post">
        {% assign nextPost = collections.blog | getNextCollectionItem %}

        {% if nextPost %}
          <span>next post</span>
          <h2>
            <a href="{{ nextPost.data.permalink }}">{{ nextPost.data.title }}</a>
          </h2>
        {% else %}
          <span>want more?</span>
          <h2>
            <a href="/#projects">see my projects!</a>
          </h2>
        {% endif %}
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="/scripts/external-links.js"></script>