---
layout: layouts/base

pagination:
  data: collections.blog
  size: 6
  reverse: true

permalink: "blog/{% if pagination.pageNumber != 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}"
---

<div class="blog-list container">
  <div class="header">
    <h1>my name is
      <a href="/">Gabriel Toschi</a>
      and this is my blog!</h1>
    <h3>you can also see
      <a href="/#projects">my projects and games here</a>
    </h3>
  </div>

  <div class="post-list">
    {% for post in pagination.items %}
      <div class="card-wrapper {{ post.data.tags | join: " " }}">
        {% assign filteredTags = post.data.tags
         | remove_intersec: not-show-tags.blog
         | map_key_value: blog-tags %}

        {% render "components/full-card.liquid"
         , samePage: true
         , image: post.data.thumbnail
         , title: post.data.title
         , url: post.data.permalink
         , text: post.data.description
         , score: post.data.score
         , tags: filteredTags %}
      </div>
    {% endfor %}
  </div>

  <nav class="pagination">
    {% if pagination.href.previous %}
      <a href={{ pagination.href.previous }}>&#60; previous</a>
    {% endif %}

    <span>page {{ pagination.pageNumber | plus: 1 }}</span>

    {% if pagination.href.next %}
      <a href={{ pagination.href.next }}>next &#62;</a>
    {% endif %}
  </nav>
</div>